In [1]:
import sys
sys.path.append("..")

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('abc').getOrCreate()

In [3]:
df=spark.read.csv('data/foo.csv',header=True)

In [4]:
from optimus import Optimus
op = Optimus(spark)

<optimus.spark.Spark object at 0x0000024CCA0D7208>

In [5]:
df.table()